.event-container {
    width: 60%;
    margin: auto;
    
}
.m-auto{
    margin: auto;

}

.backboard-container {
    padding: 30px;
    height: 100%;
}

.main-title {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}


.event-buttons {
    /* display: flex; */
    /* float: right;    */
    /* margin: 10px 0 30px; */
}

.margin-buttons {
    margin: 0 10px;
}

.margin-left{
    margin-left: 10px;
}