.home-layout {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    height: 100%;
}
.backboard-container-home {
    width: 35%;
    height: 100%;
}

.main-title {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.backboard-container {
    padding: 30px;
    height: 100%;
}

.event-container {
    width: 60%;
}



.margin-buttons {
    margin: 0 10px;
    
}

.margin-left{
    margin-left: 10px;
}

