* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
a{
    display: inline;
}
.main-container {
    display: inline-block;
    width: 100%;
    flex-direction: row;
}

.logoUP {
    display: flex;
    margin: auto;
}

.description-text {
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
}

.login-button-container {
    display: flex;
}
.d-flex{
    display: flex;
    align-items: center;

}
.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
   }

.login-button {
    background-image: linear-gradient(to bottom, #4e13bd, #8501ff);
    height: 35px;
    border-radius: 15px;
    /* width: 120px; */
    padding: 0 60px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    /* margin: 20px; */
}