.button {
    background-color: #5b29c3;
    /* height: 100%; */
    border-radius: 10px;
    width: 100px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /* margin: auto; */
    padding: 5px;
}

