* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.event-container {
    margin: auto;
    width: 50%;
}



.event-input {
    display: flex;
    margin: auto;
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}


.event-description-input {
    height: 100px;
    text-align: left;
    vertical-align: top;
}


.event-title {
    text-align: center;
    margin: 20px;
    padding: 30px auto 20px;
    font-size: 30px;
}

.event-subtitles {
    text-align: center;
    /* display: flex; */
    /* width: 60%; */
    margin: auto;
    font-size: 20px;
    margin-top : 10px;
}
