.event-line-container {
    display: flex;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}

.event-date-container{
    padding: 20px;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(255, 255, 255,0.05);
    border-radius: 10px;
    width: 25%;
}


.event-date {
    text-align: center;
    margin: auto;
}

.event-streamer-container {
    display: flex;
    width: 40%;
    padding: 30px;
    margin: 0 10px;
    background-color: rgb(255, 255, 255,0.05);
    border-radius: 10px;


}

.event-details-container {
    display: block;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255,0.05);
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
}

.streamer-display-name {
    display: flex;
    margin: auto;
}

.padding {
    margin: auto 40px;
}

.event-details-title {
    text-align: center;
    font-weight: bold;
}

.event-details-description {
    display: flex;
}