* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

.logo {
    width: 72px;
    /* margin: auto auto auto 30px; */
    object-fit: cover;
}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    font-size: 40px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255,0.05);
    margin-bottom: 50px;
    
}

ul {
    display: flex;
    list-style: none;  
    margin: auto auto auto 40px;
}

li {
    color: white;
    font-size: 28px;
    font-style: italic;
}

.logo-navbar {
    display: flex;
    /* width: 100%; */
}


a {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 10px 30px;
}


a:hover {
    color:rgb(132, 52, 236);
    /* background-color: rgb(255, 255, 255); */
    /* transform: scale(1.1); */
    text-decoration: underline;
    transition: text-decoration 0.5s ease;
    /* transition: background-color 0.5s ease; */
    /* border-bottom: 2px solid white;
    border-radius: 10px;
    border-top-left-radius: 10px; */
}

a:active {
    text-decoration: underline;
    color: green;
}